---
title: Commentary
layout: default
---


{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
      <h1>
        Commentary
      </h1>
      <h2>
        Thoughts on this world in progress
      </h2>
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
      Contents
  </h1>

    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.category == "commentary" %}
          {% include post-list-item.html %}
        {% endif %}
      {% endfor %}
    </ul>


</main>